/* App general css */

/* Scrollbar CSS */

* {
  scroll-behavior: smooth;
  text-overflow: ellipsis;
}

body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar:hover {
  width: 8px;
  height: 8px;
  transition: width 2s ease-in-out;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(172, 170, 170);
}

.preloader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
}

.dropdown-content li > a,
.dropdown-content li > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 992px) {
  .preloader-wrapper {
    left: 40%;
  }
}
