/* // mobile .background not working*/

/* Scrollbar CSS */

* {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:hover {
  width: 6px;
  transition: width 2s ease-in-out;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(172, 170, 170);
}

.bg {
  /* Seeting background image */
  background: url(./assets/meeting.jpg) rgb(169, 189, 253) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.App {
  position: relative;
  z-index: 2;
}

/* auth background */

.background {
  background-color: white;
  padding: 2rem;
  margin-top: 20%;
  margin-bottom: 5%;
  border-radius: 10px;
}

@media screen and (min-width: 992px) {
  .background {
    width: 50%;
    margin-top: 10%;
  }
}
