.meet-screen {
  overflow-y: auto;
  width: 100vw;
  overflow-x: hidden;
}

.video-grid {
  display: grid;
  row-gap: 5px;
  column-gap: 5px;
  background-color: #1b1919;
  min-height: 100vh;
  justify-content: center;
}

.video-grid video {
  display: block;
  height: 86vh;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.video-controls {
  width: 100%;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-controls button {
  margin: 0 10px;
}

.video-controls button i {
  text-align: center;
}

.carousel {
  height: 100vh !important;
}

@keyframes slide {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

.sidebar {
  padding: 10px !important;
  height: 100vh;
  animation: slide 0.2s forwards;
}

#textarea {
  max-height: 25px !important;
  overflow-y: auto;
  padding: 5px 0;
}

.send {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.send .input-field {
  margin: 0 10px;
  padding: 0;
  width: 100%;
}

.send button {
  padding: 0 !important;
}

.chats {
  display: flex;
  flex-direction: column;
  height: 77vh;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 20px;
  scroll-behavior: unset;
}

.message {
  width: fit-content;
  border-radius: 10px;
  padding: 5px 12px;
  margin: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.message::selection {
  background-color: teal;
  color: white;
}

.leftmsg {
  background-color: lightgray;
  border-bottom-left-radius: 0px;
}
.rightmsg {
  border-bottom-right-radius: 0px;
  align-self: flex-end;
  background-color: rgb(8, 93, 252);
  color: white;
}

@media screen and (max-width: 992px) {
  .video-grid video {
    height: 40vh;
  }
  .video-grid {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: none !important;
  }
}
