.meet-screen {
  overflow-y: auto;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

.carousel .slider-wrapper {
  overflow: unset !important;
}

.video-grid {
  display: grid;
  background-color: #1b1919;
  min-height: 100vh;
}

.video-grid .video {
  position: relative;
  margin: auto;
  width: 90%;
  height: 86vh;
  margin: 20px auto;
}

.video-grid video {
  height: 100%;
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.video-controls {
  width: 100%;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-controls button {
  margin: 0 10px;
}

.video-controls button i {
  text-align: center;
}

.carousel {
  height: 100vh !important;
}

@keyframes slide {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

.sidebar {
  padding: 10px !important;
  height: 100vh;
  animation: slide 0.2s forwards;
}

.user-name {
  position: absolute;
  bottom: 2%;
  left: 0;
  width: 100%;
  color: white;
}

.meet-user img {
  width: 20% !important;
  display: block;
  margin: auto;
  margin-top: 10%;
}

#message {
  overflow-x: hidden;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 400;
  padding: 0 5px;
}

.send {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.send .input-field {
  margin: 0 10px;
  padding: 0;
  width: 100%;
}

.send button {
  padding: 0 !important;
}

.chats {
  display: flex;
  flex-direction: column;
  height: 77vh;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 20px;
  scroll-behavior: unset;
}

.message {
  width: fit-content;
  border-radius: 10px;
  padding: 5px 12px;
  margin: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.message::selection {
  background-color: teal !important;
  color: white !important;
}

.leftmsg {
  background-color: lightgray;
  border-bottom-left-radius: 0px;
}
.rightmsg {
  border-bottom-right-radius: 0px;
  align-self: flex-end;
  background-color: rgb(8, 93, 252);
  color: white;
}

@media screen and (max-width: 800px) {
  .meet-screen {
    background-color: white;
  }
  .video-grid .video {
    margin: auto;
    height: 40vh;
  }
  .video-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
