/* Home page css */

.welcome {
  color: white;
  padding: 4%;
  padding-bottom: 1%;
  margin-top: 2%;
}

.welcome img {
  border-radius: 10px;
}

.welcome h3 {
  font-style: italic;
}

.welcome h3 span {
  color: #7ad4ca;
  font-weight: bold;
  font-style: normal;
}

.welcome p {
  width: 70%;
}

.people {
  width: 25%;
  position: absolute;
  bottom: 6%;
  left: 4%;
}

a.green {
  margin-left: 10px !important;
}

@media screen and (max-width: 992px) {
  .welcome {
    margin-top: 30px;
    padding: 0 5%;
  }
  .welcome h3 {
    font-size: 28px;
  }
  .welcome h3 span {
    display: block;
  }
  .welcome p {
    font-size: 12px;
    width: 100%;
  }
  .welcome img {
    margin: 10% auto;
  }
  .welcome button {
    text-align: center;
  }
}

h6.show {
  position: absolute;
  top: 50%;
  left: 50%;
}

@media screen and (max-width: 400px) {
  a.green {
    margin-left: 2px !important;
  }
}
