.welcome {
  color: white;
  padding: 5%;
  margin-top: 2%;
}

.welcome img {
  border-radius: 10px;
}

.welcome p {
  width: 70%;
}

@media screen and (max-width: 992px) {
  .welcome {
    margin-top: 30px;
    padding: 0 5%;
  }
  .welcome h3 {
    font-size: 28px;
  }
  .welcome p {
    font-size: 12px;
    width: 90%;
  }
  .welcome img {
    margin: 10% auto;
  }
  .welcome button {
    text-align: center;
  }
}
