/* Navbar css */

.logo img {
  padding: 0 !important;
}

.logo h6 {
  padding: 7% 0 !important;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .logo {
    margin-left: 3.5rem;
    max-width: 60% !important;
  }
}
