.logo {
  border-radius: 10px;
}

.logo img {
  padding: 0 !important;
}

.logo h6 {
  padding: 7% 0 !important;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .logo {
    max-width: 60% !important;
  }
}
